.idea/
target/
spark-warehouse/
*.iml

# Ignore data for apache examples
data/

# Ignore resourses (generated data via src/main/java/Utils/GenerateData.java)
res/

# Ignore apache examples
src/main/java/examples/*

*.log
.ipynb_checkpoints/
config/*.conf

# greg
# запускаю юпитер в docker-контейнере
run_docker_jupyter.py
