<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div>
	<ul id="dataList" class="list-group">
	{% for file in files %}
	  <li class="list-group-item">{{ file }}</li>
	{% end %}
	</ul>
</div>
<form enctype="multipart/form-data" method="post" name="dataupload">
	<input type="file" class="btn btn-secondary" name="data" required />
	<input type="submit" class="btn btn-primary" value="Добавить" />
</form>
<button id="deleteDataFile" class="btn btn-danger">Удалить</button>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Анализ HTTP заголовков
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#" onclick='selectMethod(1)'>Анализ HTTP заголовков</a>
    <a class="dropdown-item" href="#" onclick='selectMethod(2)'>Анализ логинов</a>
  </div>
</div>
<button id="testMethod" class="btn btn-info">Тестирование модели</button>
<input type="text" placeholder="Sample size" class="form-control" id="sampleSizeInput">
<div>
<img id="target" src=""/>
</div>

<script>
var form = document.forms.namedItem("dataupload");
var selectedData = null;
var selectedMethod = 1;

form.addEventListener('submit', function(ev) {
	var oOutput = document.getElementById("dataList");
    var oData = new FormData(form);
	oData.append("CustomField", "This is some extra data");
	var req = new XMLHttpRequest();
	req.open("POST", "upload", true);
	req.onload = function(oEvent) {
		if (req.status == 200) {
			var li = document.createElement('li');
			li.className = "list-group-item"
			li.innerHTML = req.responseText;
			oOutput.appendChild(li);
		} else if (req.status == 201) {
		
		} else if (req.status == 300) {
			alert("Поддерживаютсяс только .parquet файлы.");
		} else {
			oOutput.innerHTML = "Error " + req.status + " occurred when trying to upload your file.<br \/>";
		}
	};
	req.send(oData);
	ev.preventDefault();
}, false);

document.getElementById("dataList").addEventListener("click", function(e) {
	if (e.target && e.target.matches("li")) {
		if (selectedData)
			selectedData.className = "list-group-item";
		selectedData = e.target;
		selectedData.className = "list-group-item active";
	}
});

document.getElementById("deleteDataFile").addEventListener("click", function(e) {
	if(selectedData) {
		var req = new XMLHttpRequest();
		req.open("DELETE", "deletedata", true);
		req.onload = function () {
			if (req.status == 200) {
				var oOutput = document.getElementById("dataList");
				oOutput.removeChild(selectedData);
				selectedData = null;
			}
			else
				alert("Файл не найден! (или что-то поломалось)")
		};
		req.send(selectedData.innerHTML);
	}
	else
		alert("Файл не выбран!")
});

document.getElementById("testMethod").addEventListener("click", function(e) {
	if(selectedData) {
		sampleSize = document.getElementById("sampleSizeInput").value;
		if (+sampleSize === parseInt(sampleSize, 10)) {
			var req = new XMLHttpRequest();
			req.open("POST", "headersTest", true);
			req.onload = function () {
				if (req.status == 200)
					$("#target").attr("src","data:image/gif;base64," + req.responseText);
				else
					alert("Файл не найден! (или что-то поломалось)")
			};
			req.send(selectedData.innerHTML + " " + sampleSize);
		}
		else
			alert("Неверно указан sample size! " + sampleSize);
	}
	else
		alert("Файл не выбран!")
});



function selectMethod(method) {
	dropdown = document.getElementById("dropdownMenuButton")
	switch(method) {
		case 1:
			dropdown.innerHTML = "Анализ HTTP заголовков";
			selectedMethod = 1;
			break;
		case 2:
			dropdown.innerHTML = "Анализ логинов";
			selectedMethod = 2;
			break;
	}
}
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>